body {
    font-family: "Open Sans", Roboto, "Noto Sans Myanmar UI", Arial, sans-serif;
}

#instructions-div {
    float: left;
}

#input-div {
    float: right;
}

#title {
    color: #1f1f1f;
    font-weight: 400;
    line-height: 125;
}