html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", Roboto, "Noto Sans Myanmar UI", Arial, sans-serif;
    background: #f0f4f9;
}

#title {
    color: #1f1f1f;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
    font-size: 2.25rem;
}

#main { /* equivalent of S7xv8 LZgQXe */
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    min-height: 100vh;
}

#wrapper { /* equivalent of TcuCfd NQ5OL */
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    min-height: 384px;

    background: white;

    margin-left: 200px;
    margin-right: 200px;
    padding-left: 36px;
    padding-right: 36px;
    width: auto;
}

/*
#text {  equivalent of Svhjgc
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
*/

#logo-div {
    display: flex;
    justify-content: flex-start;
    height: 48px;
    height: var(--c-brsz, 48px);
}

#instructions-div {/* equivalent of paFcre */
    padding-right: 24px;
}

#input-div { /* equivalent of UXFQgc */
    padding-left: 24px;
}

#input-div input {
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin: 2px;
    padding: 12px 14px;
    text-align: left;
    color: #444746;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    z-index: 1;
}

@media (min-width: 600px) and (orientation: landscape), (min-width: 1600px) {
    #wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* umm not sure what this does and not sure if i'm applying it to the right els
    
    #input-div {
        flex-basis: 50%;
        flex-grow: 1;
        max-width: 50%;
    }

    #instructions-div {
        flex-basis: 50%;
        flex-grow: 1;
        max-width: 50%;
    }
    */
}

/*
#main {
    position: relative;
    overflow: auto;
    width: 500px;
}

#wrapper {
    width: 100%;
    position: relative;
    display: table;
}

#instructions-div {
    overflow: hidden;
    min-width: 1000px;  
    display: table-cell;
}

#input-div {
    float: right;
    display: table-cell;
}

@media screen and (max-width: 570px) {
    #instructions-div {
        float: left;
        min-width: 100%;
    }
    #input-div {
        float: left;
    }
}
*/