body {
    font-family: "Open Sans", Roboto, "Noto Sans Myanmar UI", Arial, sans-serif;
}

#main {
    position: relative;
}

#wrapper {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: table;
}

#instructions-div {
    overflow: hidden;
    min-width: 300px;
    display: table-column;
}

#input-div {
    float: right;
    display: table-column;
}

@media screen and (max-width: 570px) {
    #left {
        float: left;
        min-width: 100%;
    }
    #right {
        float: left;
    }
}

#title {
    color: #1f1f1f;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
    font-size: 2rem;
}