body {
    font-family: "Open Sans", Roboto, "Noto Sans Myanmar UI", Arial, sans-serif;
}

#title {
    color: #1f1f1f;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
    font-size: 2rem;
}

#main {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-grow: 1;

}

#input-div {
    padding-left: 24px;
}

@media (min-width: 600px) and (orientation: landscape), (min-width: 1600px) {
    #wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #instructions-div {
        flex-basis: 50%;
        flex-grow: 1;
        max-width: 50%;
    }

    #input-div {
        flex-basis: 50%;
        flex-grow: 1;
        max-width: 50%;
    }
}

@media (min-width: 960px) and (orientation: landscape) {
    #wrapper {
        border-radius: 28px;
        min-height: 384px;
        padding: 36px;
        padding-top: 108px;
        padding-top: var(--wf-ps-t-bp3-l, 108px);
        width: 840px;
    }
}
/*
#main {
    position: relative;
    overflow: auto;
    width: 500px;
}

#wrapper {
    width: 100%;
    position: relative;
    display: table;
}

#instructions-div {
    overflow: hidden;
    min-width: 1000px;  
    display: table-cell;
}

#input-div {
    float: right;
    display: table-cell;
}

@media screen and (max-width: 570px) {
    #instructions-div {
        float: left;
        min-width: 100%;
    }
    #input-div {
        float: left;
    }
}
*/