:root {
    --pet-index: 4;
    --interactable-index: 3; /* Above Google's content, including in-page search bar */
}

#interact-container { /* Width, height, top, left are set programmatically */
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    border: solid 1px transparent;
    transition: border-color 2s;
}

#interact-container.out-of-bounds {
    border-color: red;
}

.interactable {
    position: absolute;
    width: 100px;
    height: auto;
    /* visibility: 'hidden'; */
    user-select: none;
    z-index: var(--interactable-index);
}

/* Pet */

.pet {
    z-index: var(--pet-index);
}

.move {
    position: absolute;
    transform: scale(0.3) translate(0, 0);
}

.rigid { /* Constant size container so img doesn't change position if change src */
    position: relative;
    width: 800px;
    height: 400px;
    text-align: center;
}

.hitbox { /* Hitbox fits img */
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.sprite {
    min-height: 240px;
    max-height: 600px;
}

.emote {
    position: absolute;
    width: 200px;
    right: -200px;
}