:root {
    --ui-index: 5; /* Above interactable elements and pet */
}

.ui {
    color: #1f1f1f;
    font-family: Roboto,Arial,sans-serif;
}

.icon {
    user-select: none;
}

.icon:hover {
    text-decoration: none;
}

.icon-circle {
    display: flex;
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.icon-circle:hover {
    background: rgba(0,0,0,.1);
}

#extension-header {
    position: absolute;
    margin-left: 20px;
    top: 2px;
}

#popup-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    max-width: 200px;
    max-height: 100px;
    border-radius: 5px;
    padding: 10px;

    background-color: #E9EEF6;
    box-shadow: 0 4px 8px 3px rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.3);

    display: none;
    z-index: var(--ui-index);
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}