.ui-msg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 300px;
    border: solid 1px black;
    border-radius: 50px;

    background-color: white;
}