:root {
    --ui-index: 5; /* Above interactable elements and pet */
}

.ui-msg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;

    background-color: #E9EEF6;

    z-index: var(--ui-index);
}