:root {
    --interactable-index: 999; 
}

#interactable-container { /* Width, height, top, left are set programmatically */
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
}

.interactable {
    z-index: var(--interactable-index);
}