:root {
    --interactable-index: 1; /* Above Google's main content, but below expandable ui (e.g. profile window) */ 
}

#interactable-container { /* Width, height, top, left are set programmatically */
    position: absolute;
    border: solid 1px red;
    box-sizing: border-box;
}

.interactable {
    z-index: var(--interactable-index);
}