:root {
    --interactable-container-index: -999;
    --interactable-index: 999; 
}

#interactable-container {
    position: absolute;
    background-color: red;
    z-index: var(--interactable-container-index);
}

.interactable {
    z-index: var(--interactable-index);
}